<h1><%= @question.test.title %> Question</h1>

<p>
  <%= @question.body %>
</p>

<h2>
  <strong>Answers:</strong>
</h2>

<%= link_to 'New answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'Edit', edit_question_path(@question) %>
  <%= link_to 'Delete',
              @question,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', test_path(@question.test) %>
</p>
