<h1>The Test <%= @test_passage.test.title %> was finished!</h1>

<div class="passage-result-colors-are <%= green_or_red! %>">
  <p>
	<%= result_message %> <br>
	<%= @test_passage.result_percent %>% successful answers.
  </p>
</div>

<%= link_to 'Back', tests_path %>